*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ebrima bold;
}

body {
    overflow-x: hidden;
    background-color: #252525  ;
}

.active{
    text-decoration:underline;
    color: white;
}

/*----------Portraits----------*/

.overview{
    color: rgb(255,255,255);
    font-size: 25px;
    line-height: 50px;
    margin-left: 100px;
    padding-top: 35vh;
}

.overview p {
    font-weight: bold;
}

.overview h1{
    margin: 15px;
}

.overview h1::after{
    content: '';
    width: 700px;
    height: 6px;
    margin-top: 60px;
    border-radius: 30px;
    background: #ffffff;
    position: absolute;
    left: 23%;
    transform: translate(-50%);
}

h2{
    height: 0px;
}

.col-5{
    flex-basis: 21%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.col-5 img{
    width: 100%;
    transition: all 0.4s;
}

.col-5 img:hover{
    transform: scale(110%);
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #555;
    width: 400px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*----------No portraits----------*/